{% extends "base.html" %}

{% block title %}Change Administrator Password{% endblock %}

{% block content %}
    <style>
        .centered-form {
            text-align: center;
        }
    </style>
    <div class="centered-form">
        <h2>Change Administrator Password</h2>
        <form method="post">
            <div class="form-group">
                <label for="old_password">Old Password:</label>
                <input type="password" id="old_password" name="old_password" required>
            </div>
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit">Save</button>
            <button type="button" class="cancel-btn" onclick="window.location.href='{{ url_for('index') }}'">Cancel</button>
        </form>
    </div>
{% endblock %}